---
import Base from "../layouts/Base.astro";
import Preloader from "../components/Preloader.astro";
import Cursor from "../components/Cursor.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import Authority from "../components/Authority.astro";
import Method from "../components/Method.astro";
import Audience from "../components/Audience.astro";
import Broker from "../components/Broker.astro";
import Testimonials from "../components/Testimonials.astro";
import Offer from "../components/Offer.astro";
import FAQ from "../components/FAQ.astro";
import FinalCTA from "../components/FinalCTA.astro";
import StickyCTA from "../components/StickyCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Preloader />
  <Cursor />
  <Navbar />
  <main class="pt-16">
    <Hero />
    <TrustBar />
    <Authority />
    <Method />
    <Audience />
    <Broker />
    <Testimonials />
    <Offer />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
  <StickyCTA />
</Base>